p {
  color: olivedrab;
  font-size: 18px;
  display: inline-block;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  color: black
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 30px;
  width: 960px;
}

.you{
    color: black
   
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}



.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}



.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
   background: #cbe2c1;
   background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
   background: linear-gradient(to right, #a1d3b0, #f6f1d3);
   padding: 44px 0 22px 0;
 }


/*
  ========================================
  Custom styles
  ========================================
*/

body{
    font-family: "Arial", Helvetica Neue;
    font-size: 22spx;
    font-weight: normal;
    line-height: 30px;    
    
    
}


h1, h2, h3, h4 {
  color: 
      #648880;
}

h1 {
  font-size: 36px;
  line-height: 64px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

/*
  ========================================
  Links
  ========================================
*/

a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
}

.tagline {
  margin: 66px 0 22px 0;
}

.primary-nav {
  font-size: 24px;
  font-weight: 400;
  padding-top: 34px;
  line-height: 30px;
  float: center;
  word-spacing: .50em;

}

p {
  text-align: justify;
  word-spacing: .10em;
  /*text-indent: 20px;*/ 

}

